#anchor{
    font-size: 20px;
    margin-left: 1%;
}
#button{
    margin-top:20%;
}
#button1{
    text-align: center;
    background-image: url('../images/laptop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
}

@media screen and (max-width: 1000px){
    #button1{
        background-image: url('../images/mobile.jpg');
        height: 1770px;
    }
    #button{
        height: 50px;
        width: 200px;
        font-size: large;
    }
}
#nav{
    background-color:rgb(11, 126, 62);
    height: 60px;
}
